<div>
    <a href="./"><i class="uil uil-arrow-left" style="font-size: 50px;"></i></a>
</div>

<div class="wrapper">




    
    <div class="prin">
        <div class="header" style=" border-bottom: none; ">
            
            <div class="row">
                <div class="part1 col-lg-12" >
                    <div class="title">
                        <h1>{{repo?.name}}</h1>
                    </div>
                </div>
                <div class="part1 col-lg-6" >
                    <div class="desc">
                        <p>{{repo?.description}}</p>
                    </div>
                </div>
                <div class="part2 col-lg-6" style="text-align: right; margin-top: 1%;">
                    <div *ngIf="repo?.linkPage != ''">
                        <button><a [href]="repo?.linkPage" target="_blank">VISIT THE WEBSITE <i class="uil uil-external-link-alt"></i></a></button><br>
                    </div>
                    <div *ngIf="repo?.linkGit != ''">
                        <button><a [href]="repo?.linkGit" target="_blank">REPOSITORY <i class="uil uil-github-alt"></i> </a></button>
                    </div>
                </div>
            </div> 
        </div>
        <div class="text">
            <div class="about">
                <h3>About</h3>
                <div>
                    <ul>
                        <li *ngFor="let about of repo?.about;">
                          <p>{{ about }}</p>
                        </li>
                      </ul>
                </div>
            </div>

            <div class="skills">
                <h3>Tecnical Skills</h3>
                <div class="skills-container">
                    <div *ngFor="let skills of repo?.skills;" class="etiqueta">{{skills}}</div>
                </div>
            </div>

            <div class="gallery">
                <h3>Gallery</h3>
                        <div class="col-lg-12" style="background-color: blueviolet;" *ngFor="let r of repo?.image; let i=index;">
                            <img src="./assets/img/{{r}}" alt="Descripción de la imagen" />
                        </div>
            
            </div>

        </div>
    </div>
</div>
