.wrapper{
    padding: 1rem;

}

.body{
    margin-right: 10%;
    margin-top: 3%;
    margin-left: 3%;
  
}

.tittle{
    font-size: 4rem;
}

.sub-tittle{
    padding: 0.5rem 0;
}

.pre-tittle{
    font-family: 'Hedvig Letters Serif', serif;
    
    padding: 0.5rem 0;
    color: var(--color-text);
}

.desc{
    font-family: 'Hedvig Letters Serif', serif;
    font-size: 1rem;
    line-height: 1.8rem;
    letter-spacing: .2px;
    color: var(--color-text);
    margin-top: 5%;
}





.etiqueta {
    display: inline-block;
    margin-top: 3%;
    margin: 5px;
    padding: 8px;
    background-color: var(--color-1);
    color: var(--color-text);
    box-shadow: 0 0 29px #3c3c3c6b;
    border-radius: 5px;
    font-family: 'Hedvig Letters Serif', serif;
    text-align: center;
    text-decoration: none;
}


.link{
    text-decoration:none;
}

.link:hover {
    text-decoration:underline;
}