<div class="wrapper" >
    <div class="body" style=" margin: 3%;"> 
        <div class="pre-tittle">Hi, my name is</div>
        <h1 class="tittle animate__animated animate__jackInTheBox">Kendall Brown</h1>
        <h2 class="sub-tittle ">Software Engineer</h2>
        <p  class="desc">
            With experience and knowledge gained through participation in various academic projects. 
        </p>
        <p class="desc">
            Throughout my career, I have developed key interpersonal skills, such as the ability to work in teams with assertive and effective communication. 
            Additionally, I have demonstrated essential problem-solving, innovation, organizational, leadership, and responsibility skills, 
            always being open to learning from new experiences.</p>
    
        <div class="link-wrapper">
            <hr>
            <div class="links d-flex felx-wrap">
                <div class="block col-12 col-lg-4">
                    <a href="https://mail.google.com/">
                        <div class="block-in">
                            <i class="uil uil-envelope"></i>
                            
                        </div>
                    </a>
                </div>
                <div class="block col-12 col-lg-4">
                    <a href="https://github.com/">
                        <div class="block-in">
                            <i class="uil uil-github-alt"></i> 
                        </div>
                    </a>
                </div>
                <div class="block col-12 col-lg-4">
                    <a href="https://www.linkedin.com/">
                        <div class="block-in">
                            <i class="uil uil-linkedin"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>
