
<div class="wrapper" >
    <div class="body" > 
        <div class="header col-lg-12" >
            <div class="pre-tittle">Hi, my name is</div>
            <h1 #asTitle class="tittle "></h1>
            <h2 class="sub-title ">Software Engineer</h2>
            <p  class="desc">
                With experience and knowledge gained through participation in various academic projects. 
            </p>
            <p class="desc">
                Throughout my career, I have developed key interpersonal skills, such as the ability to work in teams with assertive and effective communication. 
                Additionally, I have demonstrated essential problem-solving, innovation, organizational, leadership, and responsibility skills, 
                always being open to learning from new experiences.</p>
            </div>
      <!--   <div class="skills col-lg-12">
            <h2> Skills</h2>
            <div class="skills-container">
                <div class="etiqueta">Hola</div>
                <div class="etiqueta">Hola</div>
                <div class="etiqueta">Hola</div>
                <div class="etiqueta">Hola</div>
                <div class="etiqueta">Hola</div>
            </div>
        </div>-->

        <!--<div class="link-wrapper col-lg-12">
            <hr>
             <div class="links d-flex felx-wrap">
                <div class="block col-4 col-lg-4">
                    <a href="https://mail.google.com/">
                        <div class="block-in">
                            <i class="uil uil-envelope"></i>
                            
                        </div>
                    </a>
                </div>
                <div class="block col-4 col-lg-4">
                    <a href="https://github.com/">
                        <div class="block-in">
                            <i class="uil uil-github-alt"></i> 
                        </div>
                    </a>
                </div>
                <div class="block col-4 col-lg-4">
                    <a href="https://www.linkedin.com/">
                        <div class="block-in">
                            <i class="uil uil-linkedin"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>-->
        <div class="link-wrapper col-lg-12">
            <hr>
            <div>
                <h2>Let's Chat</h2>
            </div>
            <p  class="desc">
                <a href="https://github.com/">Send me an email </a>to discuss your project.
            </p>
             <div class="d-flex felx-wrap" style="margin-top: 5%;">
                <div class=" col-4 col-lg-4">
                    <h5><i class="uil uil-github"></i> <a class="link" href="https://github.com/">Github</a></h5>
                </div>
                <div class=" col-4 col-lg-4">
                    <h5><i class="uil uil-linkedin"></i> <a class="link" href="https://www.linkedin.com/">linkedin</a></h5>
                </div>
                <!--<div class=" col-4 col-lg-4">
                    <a href="https://github.com/">
                        <div class="block-in">
                            <i class="uil uil-github-alt"></i> 
                        </div>
                    </a>
                </div>
                <div class=" col-4 col-lg-4">
                    <a href="https://www.linkedin.com/">
                        <div class="block-in">
                            <i class="uil uil-linkedin"></i>
                        </div>
                    </a>
                </div>-->
            </div>
        </div>

    </div>
</div>
