.container {
    max-height: calc(100vh - 60px); /* Ajusta el valor según tus necesidades */
    /*overflow-y: auto;*/
}

.tittle{
    font-size: 1rem;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta cualquier texto que desborde del contenedor */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) al final del texto */
}

a{
    
    font-size: 1rem;
    font-style: italic;
}

a:hover {
    
    border-bottom: 1px solid var(--color-text);
    cursor: pointer;
  }

img{
    filter: grayscale(100%);
    border-radius: 10px;
}

img:hover {
    filter: none;
}

.card {
    margin-bottom: 3%;
    background-color: transparent;
    border: none;
}


@media (max-width:700px) {
    .card{
       text-align: center;
    }
}


