.container {
    max-height: calc(100vh - 60px); /* Ajusta el valor según tus necesidades */
    overflow-y: auto;
}

.tittle{
    font-size: 1rem;
    
}

a{
    
    font-size: 1rem;
    font-style: italic;
}

a:hover {
    
    border-bottom: 1px solid var(--color-text);
    cursor: pointer;
  }

img{
    filter: grayscale(100%);
}

img:hover {
    filter: none;
}