

<div class="container">
   <div class="body" style=" margin: 1%; margin-top: 3%;">
        
        <div class="header">
            <div class="mainTittle" style="margin-bottom: 2%;">
                <h1>Web Developer Portfolio</h1>
            </div>
            <div class="mainDesc" style="margin-bottom: 2%; font-size: 1.2rem;">
                <p>Here are some of the projects I've been working on. </p>
            </div>
        </div>

        <div class="row ">
            <ng-container *ngFor="let item of repos"> 
            
                <div class="col-lg-4 animate__animated animate__fadeInUp" style="margin-bottom: 3%;" *ngIf="item.visible === 'True'">
                    <div>
                        <div class="top">
                            <img (click)="navegarAComponenteDestino(item)" style="width: 90%; height: 180px;" src="./assets/img/{{item.image[0]}}" alt="Descripción de la imagen">
                        </div>
                        
                        <div class="bottom" style="margin-top: 1%;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="tittle">{{item.name}}</div>
                                </div>

                            </div>
                        </div>
                    </div> 
                </div>

            </ng-container>
  
 
               
            
            </div>
        </div>
   </div>



