/* You can add global styles to this file, and also import other style files */

:root{
--color-1: #BFAF9B;
--color-2: #8E7068;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: var(--color-1);
    color: white;
    font-family: 'Cabin', sans-serif;
}

a, a:visited,a:hover, a:link {
    color: white;
}

h1,h2{
    margin: 0;
}
